header#top-nav {
    height: 72px !important;
    padding-top: 22px !important;
}

#flashes,
#toast-container {
    top: 72px !important;
}

.frame-wrapper {
    padding-top: 22px !important;
}

#results-top-wrapper.user-wrapper {
    padding-top: 102px !important;
}
