.turbolinks-progress-bar {
    z-index: 999999 !important;
    top: auto !important;
    bottom: 0 !important;
    height: 2px !important;
    background-color: #ed1c24 !important;
}

header#top-nav #header-search #header-arrow-left,
header#top-nav #header-search #header-arrow-right {
    float: left;
    cursor: pointer;
}

header#top-nav #header-search #header-arrow-left:hover i,
header#top-nav #header-search #header-arrow-right:hover i,
header#top-nav #header-search #header-search-button:hover i {
    color: #ed1c24;
}

header#top-nav #header-search #header-search-button.btn-primary:hover i {
    color: #fff;
}

header#top-nav #header-shop {
    display: none;
}